<div class="container">
  <p>
    Comment with search for user names. Start typing a comment, using '@' to search for a user.
  </p>
  <textarea class="form-control" rows="3" [(ngModel)]="comments" (input)="onChange($event.target.value)"></textarea>
  <div class="col-sm-4">
    <ul class="results list-group">
      <li *ngFor="let user of userResults" class="list-group-item">
        <div class="row mb-1 ml-3">
          <div class="col-sm4">
            <a (click)="selectUser(user)">
              <img [src]="user.avatarUrl" /> {{ user.name }} [{{ user.userName }}]
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>